:root {
    /*color chip*/
    --maincolor: #075082;
    --point-blue: #7886CB;
    --color-weekend: #17A1FA;
    --skyblue: #8EBEE1;
    --pastelblue: #D4E2E1;
    --gray_100: #eeeeee;
    --gray_200: rgb(224, 224, 224);
    --color-content: #5F5F5F;
    --holiday: #EB6968;

    /* font size */
    --month--title: 25px;
    --title: 20px;
    --content: 16px;
}